body {
    border: 1px solid blue;
    max-width: 960px;
    max-height: 960px;
}
#character-image-container {
    width: 200px;
    height: 200px;
    #char-image {
        width: inherit;
        height: inherit;
    }
}