body {
    border: 1px solid blue;
    max-width: 960px;
    max-height: 2000px;
}
#character-information-container {
    position: relative;
    border: 1px solid green;
    height: 200px;
    #character-name-title {
        width: 49%;
    }
    #character-description {
        width: 49%;
    }
    #character-image-container {
        float: right;
        width: 200px;
        height: 200px;
        #character-image {
            width: inherit;
            height: inherit;
            object-fit: contain;
        }
    }
}

#character-random-comics-container {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: right;
    .character-comic-cover-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: right;
        width: 33%;
        .comic-image,
        .comic-title,
        .comic-description {
            margin: 2px 2px;
            //min-width: 200px;
            max-width: 450px;
        }
        .comic-image {
            object-fit: contain;
        }
    }
}
